<% include _header %>

<h1>Log in</h1>

<form action="/login" method="post">
   <div class="row">
     <div class="form-group col-lg-5">
       <label for="username">Username: </label>
       <input name="username" id="username" type="text" class="form-control" placeholder="Username" required autofocus>
     </div>
   </div>

   <div class="row">
     <div class="form-group col-lg-5"> 
       <label for="password">Username: </label>
       <input name="password" id="password" type="password" class="form-control" placeholder="Password" required>
     </div>
   </div>

   <div class="row">
     <div class="form-group col-lg-5">
       <input type="submit" value="Log in" class="btn btn-primary btn-block">
     </div>
   </div>
</form>
